@media only screen and (min-width: 0) {
  .navMainLink > img {
    display: none;
  }
  nav {
    display: none;
  }
  .search {
    display: none;
  }
  .buyPackage {
    display: none;
  }
  .logo {
    left: 40%;
    top: 30%;
  }
  .login {
    display: none;
  }
  header {
    height: 64px;
  }
  .content {
    margin-top: 64px;
    font-size: 10px;
    width: 90%;
  }
  .banner {
    height: 20.18vh !important;
  }
  footer {
    width: 100%;
  }
  footer > .content {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .iconInfo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
  }
  .iconInfo > img {
    margin: auto;
  }
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .contact {
    width: 100%;
    text-align: center;
  }
  .contact > div {
    margin: auto;
  }
}
@media only screen and (max-width: 992px) {
  .swiper-button-next.swiper-button-prev {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .navMainLink > img {
    display: block;
    width: 217px;
    height: 38px;
  }
  .btnSubNav {
    display: none;
  }
  nav {
    width: 80% !important;
    height: 33px;
    display: block;
  }
  .hiden {
    display: none;
  }
  input {
    display: none;
  }
  .navMain {
    width: 80% !important;
    height: 64px;
  }
  .search {
    display: block;
  }
  .buyPackage {
    display: block;
  }
  .logo {
    top: 10px;
    left: 10px;
  }
  .login {
    display: block;
  }
  header {
    height: 112px;
  }
  .content {
    margin-top: 112px;
    width: 70%;
    font-size: 16px;
  }
  .banner {
    height: 29vh !important;
  }
  .iconInfo {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .navMainLink > img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .navMain {
    width: 75%;
    height: 64px;
  }
  nav {
    width: 1080px;
    height: 64px;
    display: block;
  }
  .hiden {
    display: block;
  }
  input {
    height: 30px;
    width: 168px;
    display: block;
  }
  .search {
    display: block;
  }
  .login {
    margin-left: 0.9%;
  }
  header {
    height: 112px;
  }
  .content {
    width: 73.75rem;
    font-size: 16px;
  }
  .banner {
    height: 34.375rem !important;
    width: 100%;
  }
  footer > .content {
    display: flex;

    flex-direction: row;
  }
  footer > .content > .iconInfo {
    width: 20% !important;
  }
  footer > .content > .info {
    width: 60% !important;
  }
  footer > .content > .contact {
    width: 20% !important;
  }
  .iconInfo {
    height: 100%;
    width: 100px;
    transform: translateY(10px);
  }
  .iconInfo img {
    width: 125px;
    height: 40px;
    margin: 10px 0;
  }
  .contact > div {
    margin: 0;
    justify-content: flex-start !important;
  }
}
@media only screen and (max-width: 1200px) {
}
